<html lang="en">
<head>
	<style type="text/css">
		.text {
		  display: block;
		  width: 1000px;
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		}
	</style>
    <meta charset="UTF-8">
    <title>Blog Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Blog</a>
            <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
    {% if data.id == -1 %}
     <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Login') }}">Login Here</a>
    </li>
    {% else %}
    <li class="nav-item">
                <a class="nav-link" href="#">Dear {{ name }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
    </li>
    {% endif %}
  </li>
</ul>
    </nav>


    <div class="jumbotron text-center" style ="padding-top:0%;padding-bottom: 0% line-height: 0%" >
        <h1 class="display-3" align="center"style ="padding: 0px" >Python</h1>
    </div>
    {% for l in data.list %}
    <a href="{{ url_for('post_api.recent_posts', post_id=l.post_id) }}" methods="get">
    <div class="container p-3 my-3 border">
        <h1>{{ l.title }}</h1>
        <span class="text">{{ l.content }}</span>
        <span class="text">Published on: {{ l.post_date }} AST</span>
        <p style="text-align:right;color:#808080">View: {{ l.view_times }}</p>
    </div></a><br>
    {% endfor %}
    
	{% if data.id != -1 %}
    <form method="get" action="{{ url_for('AfterLogin') }}">
    	<input class="btn btn-primary btn-lg" type="submit" value="Go back to Main Page">
    </form>
    {% else %}
    <form method="get" action="{{ url_for('Main_Page') }}">
    	<input class="btn btn-primary btn-lg" type="submit" value="Go back to Main Page">
    </form>
    {% endif %}

</div>
</div>
</body>
</html>