<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Blog</a>
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Start your idea here</a>
            </li>
        </ul>
    </nav>


    <div class="jumbotron text-center" style ="padding-top:5%;padding-bottom: 5% line-height: 10%" >
        <p class="lead" align="center" style ="height: 10%">Oops... Seems something goes wrong...</p>
        <p class="lead" align="center" style ="height: 10%">{{ info }}</p>
    </div>

</div>
</div>
</body>
</html>