<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Blog</a>
            <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('post_api.new_post', id=id) }}">Start a new Post!</a>
        </li>
             <form method="post" action="{{ url_for('user_api.search_user', id=id) }}">
            <input type="text" name="keyword" placeholder="Search User..">
             </form>
    {% if id == -1 %}

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Login') }}">Login Here</a>
    </li>
     <li>
        <a class="nav-link" href="{{ url_for('SignUp') }}">SignUp Here</a>
    </li>

    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_api.view_profile', following_id=id) }}">Dear {{ name }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
    </li>
    {% endif %}
    </ul>
    </nav>


    <div class="jumbotron text-center" style ="padding-top:5%;padding-bottom: 5% line-height: 10%" >
        <h1 class="display-3" align="center"style ="padding: 0px" >Blog</h1>
        <p class="lead" align="center" style ="height: 10%">Start your Idea Here</p>
    </div>
    <div style ="padding-top:5%;padding-bottom: 5% line-height: 10%" >
        <p class="lead" align="center" >
    <a class="btn btn-primary btn-lg" href="{{ url_for('category_python') }}" role="button" >
        Python
    </a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('category_java') }}" role="button" >
        Java
    </a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('category_mysql') }}" role="button" >
        MySQL
    </a><br>
        </p>
    </div>

    {% block footer %}
       <footer class="footer navbar-fixed-bottom">
           <div class="container" align="center">
            Developed by Florence Liu, 2020 | Email：florencelzx865@gmail.com
           </div>
       </footer>
   {% endblock %}



</div>
</div>
</body>
</html>