<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div>

<style>
    .pb-cmnt-container {
        font-family: Lato;
        margin-top: 20px;
        height: 150px;
        width: 120%;
    }

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 600px;
        width: 120%;
        border: 1px solid #F2F2F2;

    }
</style>



<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Blog</a>
            <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
    {% if login != -1 %}

    <li class="nav-item">
                <span class="nav-link" id="name" href="#">Dear {{ name }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile', id=id) }}">Profile</a>
    </li>
            <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('Login') }}">Login Here</a>
    </li>
     <li>
        <a class="nav-link" href="{{ url_for('SignUp') }}">SignUp Here</a>
    </li>
    {% endif %}
  </li>
</ul>
    </nav>

    <div class="col-xs-1" align="center" style ="padding-top:5%;padding-bottom: 5% line-height: 10%">
    <div class="container pb-cmnt-container" align="center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form class="form-inline" method="post" action="{{ url_for('post_api.new_post', id=id) }}">
                        <input type="text" class="form-control" name="article_title" id="article_title" placeholder="Enter your article title.." style=" width: 120%;">
                        <br>

                            <label class="btn btn-info active">
                            <input type="checkbox"  name="python">Python
                            </label>
                            <label class="btn btn-info">
                                <input type="checkbox" name="java">Java
                                </label>
                            <label class="btn btn-info">
                            <input type="checkbox" name="category3">Category3
                            </label>
                        <textarea placeholder="Write your article here!" class="pb-cmnt-textarea" name="article" id="article"></textarea>
                        <br>
                        <input class="btn btn-primary btn-lg" type="submit" value="Post">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

</div>
</div>
</body>
</html>